h1.title {
  text-align: center;
}

h2.artist {
  text-align: center;
}

#information {
  float: right;
  max-width: 128px;
}

div > * {
  vertical-align:top;
}

#chords {
  margin-bottom: 1em;
  text-align: center;
}

.section {
  display: flex;
  margin-bottom: 1.5em;

  .name {
    width: 12%;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.2rem;
    font-style: italic;
    display: inline-block;
  }
}

.lines {
  display: inline-block;
}

.line {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.part {
  display: inline-block;
}

.tablature {
  font-family: monospace;
  font-size: 1.3rem;
  line-height: 1.0rem;
  overflow: visible;
  white-space: nowrap;
}

.chord, .lyric {
  text-wrap: avoid;
  // Make sure chords and lyrics right next to each other have breathing room
  margin-right: 0.4em;
}

.chord {
  min-height: 1.5em;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: -0.2em;
}

.lyric {
  // Force the chords above an empty lyrics section to the top
  min-height: 1.5em;
  font-family: "Times New Roman", serif;
  font-size: 1.4rem;
}

@media screen and (max-width:768px) {
  .section {
    flex-direction: column;

    .name {
      width: 100%;
    }
  }

  #information {
    float: none;
    text-align: right;
    max-width: 768px;
  }

  .year {
    display: none;
  }

  .album {
    display: none;
  }
}

@media print {
  .section {
    page-break-inside: avoid;
  }

  .line {
    page-break-inside: avoid;
  }
}