<!doctype html>
<html>
<head>
  <meta charset='utf-8' />

  <%= wicked_pdf_stylesheet_link_tag  'application' -%>
  <%= wicked_pdf_javascript_include_tag  'application' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js" integrity="sha256-ETXu4iIohKzvSucuk6Bv0DCdqiqaTTGeMsjZ72szPzM=" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>